/*-------Reset -----------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, 
code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, 
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td{border:0;font-family:inherit;font-size:100%;font-style:inherit;font-weight:inherit;margin:0;outline:0;padding:0;  vertical-align:baseline}
html{font-size:62.5%;  /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */ overflow-y:scroll;  /* Keeps page centered in all browsers regardless of content height */ -webkit-text-size-adjust:100%;  /* Prevents iOS text size adjust after orientation change,without disabling user zoom */ -ms-text-size-adjust:100%;  /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */}
*, *:before, *:after{ /* apply a natural box layout model to all elements; see http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */ -webkit-box-sizing:border-box;  /* Not needed for modern webkit but still used by Blackberry Browser 7.0; see http://caniuse.com/#search=box-sizing */ -moz-box-sizing:border-box;  /* Still needed for Firefox 28; see http://caniuse.com/#search=box-sizing */ box-sizing:border-box}
body{background:$whiteColor}
article, aside, details, figcaption, figure, footer, header, main, nav, section{display:block}
ol, ul{list-style:none}
table{ /* tables still need 'cellspacing="0"' in the markup */ border-collapse:separate;border-spacing:0}
caption, th, td{font-weight:normal;text-align:left}
blockquote:before, blockquote:after, q:before, q:after{content:""}
blockquote, q{quotes:""""}
a:focus{outline:thin dotted}
a:hover, a:active{outline:0}
a img{border:0}
/*------Typography---------------------------*/
body, button, input, select, textarea{color:#00121d;font-size:1.5em;line-height:1.5;}
h1, h2, h3, h4, h5, h6{clear:both; }
h1{font-size:1.5em; line-height:1em;margin-bottom:.5em}
h2{font-size:1.4em;line-height:1em}
h3{font-size:1.25em;font-weight:bold;line-height:1.15em}
h4{font-size:1.15em;line-height:1.25em}
h5{font-size:1.1em;font-weight:bold}
h6{font-size:1.025em; font-weight:normal;}
p{margin-bottom:1.5em;}
b, strong{font-weight:bold}
dfn, cite, em, i{font-style:italic}
blockquote{margin:0 1.5em}
address{margin:0 0 1.5em}
pre{font-size:15px;font-size:1.5em;line-height:1.6;margin-bottom:1.6em;max-width:100%;overflow:auto;padding:1.6em}
code, kbd, tt, var{}
abbr, acronym{border-bottom:1px dotted #666;cursor:help}
mark, ins{text-decoration:none}
sup, sub{font-size:75%;height:0;line-height:0;position:relative;vertical-align:baseline;}
sup{bottom:1ex;}
sub{top:.5ex;}
small{font-size:75%}
big{font-size:125%}
aside, blockquote {margin: 1em 2em;padding: 1em;}
#secondary aside{margin: 0;padding:0;border: 0px none transparent;}
/*-------Elements--------------------*/
hr{border:0;height:1px;margin-bottom:1.5em;}
.clear hr{border:0;height:1px;margin-bottom:1.5em;}
ul, ol{margin:0 0 1.5em 3em;}
ul{list-style:disc;}
ol{list-style:decimal;}
li >ul, li >ol{margin-bottom:0;margin-left:1.5em;}
dt{ font-weight:bold;}
dd{ margin:0 1.5em 1.5em;}
img{height:auto;  /* Make sure images are scaled correctly. */max-width:100%; /* Adhere to container width. */}
figure{margin:0;}
table{margin:0 0 1.5em;width:100%;}
/*---DEFAULT OVER-RIDES--*/
td{vertical-align:top;}
th{font-weight:bold;}

/*----------Accessibility-------------------------*/
/* Text meant only for screen readers */
.screen-reader-text{clip:rect(1px,1px,1px,1px);position:absolute !important}
.screen-reader-text:hover, .screen-reader-text:active, .screen-reader-text:focus{background-color:$whiteColor;border-radius:3px;box-shadow:0 0 2px 2px rgba(0,0,0,0.6);  clip:auto !important;  color:$lightBlueColor;  display:block;  font-size:14px;  font-weight:bold;  height:auto;  left:5px;  line-height:normal;  padding:15px 23px 14px;  text-decoration:none;  top:5px;  width:auto;  z-index:100000;  /* Above WP toolbar */}
/*-----------------Alignments----------------------------*/
.alignleft{ display:inline;float:left;margin-right:1.5em;}
.alignright{display:inline;float:right;margin-left:1.5em;}
.aligncenter{clear:both;display:block;margin:0 auto;}
/*-----------------Clearings-----------------------*/
.clear:before, .clear:after, .entry-content:before, .entry-content:after, .comment-content:before, .comment-content:after, .site-header:before, .site-header:after, 
.site-content:before, .site-content:after, .site-footer:before, .site-footer:after{ content:''; display:table;}
.clear:after, .entry-content:after, .comment-content:after, .site-header:after, .site-content:after, .site-footer:after{clear:both;}
/*----------Widgets-----------------------*/
.widget{ margin:0 0 1.5em}
/* Make sure select elements fit in widgets */
.widget select{ max-width:100%;}
/* Search widget */
.widget_search .search-submit{display:none;}
/*----------------Posts and pages-------------------*/
.hentry{ margin:0;}
.byline, .updated{ display:none;}
.single .byline, .group-blog .byline{ display:inline}
.page-content, .entry-content, .entry-summary{margin:1em 0 0;}
.page-links{ clear:both;  margin:0 0 1.5em;}
.entry-content{ margin:0 !important;  padding-right:2em;}
.category .entry-content{ border:none}
.entry-content hr {background-color: $darkBrownColor;border: 0;height: 1px;margin-bottom: .25em;}
/*----------Asides--------------*/
.blog .format-aside .entry-title, .archive .format-aside .entry-title{display:none;}
/*---------Comments-----------------------*/
.comment-content a{ word-wrap:break-word;}
/*-------------Infinite scroll--------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .paging-navigation, .infinite-scroll.neverending .site-footer{ /* Theme Footer (when set to scrolling) */ display:none;}
/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
.infinity-end.neverending .site-footer{display:block;}
/*---------------Media-------------------------------*/
.page-content img.wp-smiley, .entry-content img.wp-smiley, .comment-content img.wp-smiley{border:none;margin-bottom:0;margin-top:0;padding:0;}
.wp-caption{ border:1px solid $greyColor;  margin-bottom:1.5em;max-width:100%;}
.wp-caption img[class*="wp-image-"]{display:block;margin:1.2% auto 0;max-width:98%;}
.wp-caption-text{text-align:center}
.wp-caption .wp-caption-text{margin:0.8075em 0;}
.site-main .gallery{margin-bottom:1.5em;}
.site-main .gallery a img{border:none;height:auto;max-width:90%;}
.site-main .gallery dd, .site-main .gallery figcaption{margin:0;}
/* Make sure embeds and iframes fit their containers */
embed, iframe, object{max-width:100%;}