/*
Theme Name: 007
Theme URI: http://jeffmcnear.com
Author: jeff mcnear
Author URI: http://jeffmcnear.com
Description: this is a custom theme created using the underscores starter theme, it has been configured to allow for 5 disticnt page templates with a full width header image editable on all pages. Archive displays allow for thumbnails to show when available in a two column layout and to show linkage to full detail only when the excerpt is populated. There are three distict left column sidebars and a extensively expanded array of controls in the customizer.
Version: 1.75
*/
/*--- ABSTRACTS ---*/
@import "abstracts/_variables.scss";
/*--- BASE ---*/
@import "base/_base.scss";
@import "base/_typography.scss";
/*--- COMPONENTS ---*/
@import "components/_forms.scss";
@import "components/_youtube.scss";
@import "components/_mailchimp.scss";
/*--- LAYOUT ---*/
@import "layout/_content.scss";
@import "layout/_footer.scss";
@import "layout/_header.scss";
@import "layout/_navigation.scss";
@import "layout/_sidebar.scss";
/*--- PAGES ---*/
@import "pages/_home.scss";


/*---------- CUSTOMIZATIONS---------------*/
.clear{clear:both}
/*-- for post navigation--*/
.left-split-nav{ float:left;width:48%;text-align:left}
.right-split-nav{ float:right;width:48%;text-align:right}

/*--- for the film clip array ---*/
.first-third{float:left; width:32%;}
.first-third li{font-family:$titleFont;}
.first-third-video{float:left; width:100%;position: relative;}
.first-third img {width: 100%;height: auto;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;border:solid 5px $greyColor;
-webkit-box-shadow:2px 0px 2px 2px #000000 ;-moz-box-shadow:2px 0px 2px 2px #000000 ;box-shadow:2px 0px 2px 2px #000000 ;}
.first-third-video .btn {position: absolute;top: calc(50% - 1em);left: 50%;transform: translate(-50%, -50%);-ms-transform: translate(-50%, -50%);
  background-color: $darkGreyColor;color: $whiteColor;font-size: 1.25em;padding:1.25em;border: none;cursor: pointer;border-radius: 1em;}
.first-third-video .btn:hover {background-color: $blackColor;}
.two-thirds{float:right; width:66%;}

		@media screen and (max-width: 800px) {
		.first-third, .two-thirds{float:left; width:100%;}
		.first-third img {width: 80%;height: auto; margin:0 10% 1em 10%;}
		}


/*--- HERO-TOP (vestigal) ----*/
#hero-top{width:100%; clear:both;padding-top:110px;margin-bottom:-6px;}
#hero-top img{width:100%; height:auto;}


/*--- more over rides--*/
ul.just-archive-array{list-style:none;margin:0;}
.just-archive-array p{margin:0;}
.just-archive-array h1{margin:0;}
.page-template-page-books a{text-decoration:none;}

@media (max-width:1300px){ 
body { overflow-x: hidden;}
}

@media (max-width:1200px){ 
html{overflow-x: hidden;}
#page{width:96%;max-width:1150px;margin-left:auto;margin-right:auto;background-color:transparent;margin-top:.25em;margin-bottom:1em;}
}

@media (max-width:900px){ 
.page-template-landing-page .content-area{float:left;margin:1em;width:100%}
.page-template-landing-page .site-main{margin:1em}
.page-template-landing-page #secondary{width:100%}
.page-template-landing-page .entry-content{border-right:none 0px transparent;padding-right:0}
.page-template-feed-page .site-main{margin:0 }
.page-template-feed-page #secondary{width:100%}
}

@media (max-width:825px){  
.question-site-main{float:left;width:100%; }	
#hero-top{padding-top:150px;}
.landing-third-1,.landing-third-2,.landing-third-3{float:left;width:100%;margin:2em 0 0 0;}
.landing-third-3 .widget{margin:0;}
}

@media (max-width:500px){ 
.page-template-landing-page #secondary .left_picture{float:left;width:100%}
.page-template-landing-page #secondary .right_text{float:left;width:100%}
}

@media (max-width:450px){
.site-info{border-top:2px solid $whiteColor; text-align:center;}
.feature-icon img {width: 90%;margin: 0 5%;}
#hero-top {padding-top: 110px;}	
}

