/*
Theme Name: 007
Theme URI: http://jeffmcnear.com
Author: jeff mcnear
Author URI: http://jeffmcnear.com
Description: this is a custom theme created using the underscores starter theme, it has been configured to allow for 5 disticnt page templates with a full width header image editable on all pages. Archive displays allow for thumbnails to show when available in a two column layout and to show linkage to full detail only when the excerpt is populated. There are three distict left column sidebars and a extensively expanded array of controls in the customizer.
Version: 1.75
*/
/*--- ABSTRACTS ---*/
/*--- BASE ---*/
/*---------- down and dirty reset ----*/
body {
  box-sizing: border-box;
  /*--- eliminates borders ---*/ }

html {
  font-size: 62.5%;
  /*--- defines rems on site 1 rem - 10px---*/ }

*, *:after, *:before {
  margin: 0px;
  padding: 0;
  box-sizing: inherit;
  /*--- inherited from body ---*/ }

/*-------Reset -----------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline; }

html {
  font-size: 62.5%;
  /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
  overflow-y: scroll;
  /* Keeps page centered in all browsers regardless of content height */
  -webkit-text-size-adjust: 100%;
  /* Prevents iOS text size adjust after orientation change,without disabling user zoom */
  -ms-text-size-adjust: 100%;
  /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */ }

*, *:before, *:after {
  /* apply a natural box layout model to all elements; see http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
  -webkit-box-sizing: border-box;
  /* Not needed for modern webkit but still used by Blackberry Browser 7.0; see http://caniuse.com/#search=box-sizing */
  -moz-box-sizing: border-box;
  /* Still needed for Firefox 28; see http://caniuse.com/#search=box-sizing */
  box-sizing: border-box; }

body {
  background: #ffffff; }

article, aside, details, figcaption, figure, footer, header, main, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

table {
  /* tables still need 'cellspacing="0"' in the markup */
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  font-weight: normal;
  text-align: left; }

blockquote:before, blockquote:after, q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

a:focus {
  outline: thin dotted; }

a:hover, a:active {
  outline: 0; }

a img {
  border: 0; }

/*------Typography---------------------------*/
body, button, input, select, textarea {
  color: #00121d;
  font-size: 1.5em;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  clear: both; }

h1 {
  font-size: 1.5em;
  line-height: 1em;
  margin-bottom: .5em; }

h2 {
  font-size: 1.4em;
  line-height: 1em; }

h3 {
  font-size: 1.25em;
  font-weight: bold;
  line-height: 1.15em; }

h4 {
  font-size: 1.15em;
  line-height: 1.25em; }

h5 {
  font-size: 1.1em;
  font-weight: bold; }

h6 {
  font-size: 1.025em;
  font-weight: normal; }

p {
  margin-bottom: 1.5em; }

b, strong {
  font-weight: bold; }

dfn, cite, em, i {
  font-style: italic; }

blockquote {
  margin: 0 1.5em; }

address {
  margin: 0 0 1.5em; }

pre {
  font-size: 15px;
  font-size: 1.5em;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em; }

abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help; }

mark, ins {
  text-decoration: none; }

sup, sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  bottom: 1ex; }

sub {
  top: .5ex; }

small {
  font-size: 75%; }

big {
  font-size: 125%; }

aside, blockquote {
  margin: 1em 2em;
  padding: 1em; }

#secondary aside {
  margin: 0;
  padding: 0;
  border: 0px none transparent; }

/*-------Elements--------------------*/
hr {
  border: 0;
  height: 1px;
  margin-bottom: 1.5em; }

.clear hr {
  border: 0;
  height: 1px;
  margin-bottom: 1.5em; }

ul, ol {
  margin: 0 0 1.5em 3em; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

li > ul, li > ol {
  margin-bottom: 0;
  margin-left: 1.5em; }

dt {
  font-weight: bold; }

dd {
  margin: 0 1.5em 1.5em; }

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */ }

figure {
  margin: 0; }

table {
  margin: 0 0 1.5em;
  width: 100%; }

/*---DEFAULT OVER-RIDES--*/
td {
  vertical-align: top; }

th {
  font-weight: bold; }

/*----------Accessibility-------------------------*/
/* Text meant only for screen readers */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important; }

.screen-reader-text:hover, .screen-reader-text:active, .screen-reader-text:focus {
  background-color: #ffffff;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #00649c;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar */ }

/*-----------------Alignments----------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em; }

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em; }

.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto; }

/*-----------------Clearings-----------------------*/
.clear:before, .clear:after, .entry-content:before, .entry-content:after, .comment-content:before, .comment-content:after, .site-header:before, .site-header:after,
.site-content:before, .site-content:after, .site-footer:before, .site-footer:after {
  content: '';
  display: table; }

.clear:after, .entry-content:after, .comment-content:after, .site-header:after, .site-content:after, .site-footer:after {
  clear: both; }

/*----------Widgets-----------------------*/
.widget {
  margin: 0 0 1.5em; }

/* Make sure select elements fit in widgets */
.widget select {
  max-width: 100%; }

/* Search widget */
.widget_search .search-submit {
  display: none; }

/*----------------Posts and pages-------------------*/
.hentry {
  margin: 0; }

.byline, .updated {
  display: none; }

.single .byline, .group-blog .byline {
  display: inline; }

.page-content, .entry-content, .entry-summary {
  margin: 1em 0 0; }

.page-links {
  clear: both;
  margin: 0 0 1.5em; }

.entry-content {
  margin: 0 !important;
  padding-right: 2em; }

.category .entry-content {
  border: none; }

.entry-content hr {
  background-color: #322215;
  border: 0;
  height: 1px;
  margin-bottom: .25em; }

/*----------Asides--------------*/
.blog .format-aside .entry-title, .archive .format-aside .entry-title {
  display: none; }

/*---------Comments-----------------------*/
.comment-content a {
  word-wrap: break-word; }

/*-------------Infinite scroll--------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .paging-navigation, .infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none; }

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
.infinity-end.neverending .site-footer {
  display: block; }

/*---------------Media-------------------------------*/
.page-content img.wp-smiley, .entry-content img.wp-smiley, .comment-content img.wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0; }

.wp-caption {
  border: 1px solid #cccccc;
  margin-bottom: 1.5em;
  max-width: 100%; }

.wp-caption img[class*="wp-image-"] {
  display: block;
  margin: 1.2% auto 0;
  max-width: 98%; }

.wp-caption-text {
  text-align: center; }

.wp-caption .wp-caption-text {
  margin: 0.8075em 0; }

.site-main .gallery {
  margin-bottom: 1.5em; }

.site-main .gallery a img {
  border: none;
  height: auto;
  max-width: 90%; }

.site-main .gallery dd, .site-main .gallery figcaption {
  margin: 0; }

/* Make sure embeds and iframes fit their containers */
embed, iframe, object {
  max-width: 100%; }

/*--- COMPONENTS ---*/
/*-----------Forms----------------------*/
button, input, select, textarea {
  font-size: 100%;
  /* Corrects font size not being inherited in all browsers */
  margin: 0;
  /* Addresses margins set differently in IE6/7,F3/4,S5,Chrome */
  vertical-align: baseline;
  /* Improves appearance and consistency in all browsers */
  *vertical-align: middle;
  /* Improves appearance and consistency in IE6/IE7 */ }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  border: 1px solid #ffffff;
  border-radius: 3px;
  background: #002046;
  cursor: pointer;
  /* Improves usability and consistency of cursor style between image-type 'input' and others */
  -webkit-appearance: button;
  /* Corrects inability to style clickable 'input' types in iOS */
  font-size: 12px;
  font-size: 1.2em;
  line-height: 1;
  padding: .6em 1em .4em;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  color: #ffffff;
  margin-top: .5em; }

button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover {
  border-color: #cccccc #cccccc #cccccc #cccccc;
  background: #ffffff;
  color: #322215; }

button:focus, input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus, button:active, input[type="button"]:active, input[type="reset"]:active,
input[type="submit"]:active {
  border-color: #cccccc #cccccc #cccccc #cccccc;
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15); }

input[type="checkbox"], input[type="radio"] {
  padding: 0;
  /* Addresses excess padding in IE8/9 */ }

input[type="search"] {
  -webkit-appearance: textfield;
  /* Addresses appearance set to searchfield in S5,Chrome */
  -webkit-box-sizing: content-box;
  /* Addresses box sizing set to border-box in S5,Chrome (include -moz to future-proof) */
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  font-size: 1.5em; }

input[type="search"]::-webkit-search-decoration {
  /* Corrects inner padding displayed oddly in S5,Chrome on OSX */
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
  border: 0;
  padding: 0; }

input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], textarea {
  color: #666;
  border: 1px solid #322215;
  border-radius: 3px; }

input[type="text"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="password"]:focus, input[type="search"]:focus, textarea:focus {
  color: #111; }

input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"] {
  padding: 3px; }

textarea {
  overflow: auto;
  /* Removes default vertical scrollbar in IE6/7/8/9 */
  padding-left: 3px;
  vertical-align: top;
  /* Improves readability and alignment in all browsers */
  width: 98%; }

/*--- YOU TUBE RELATED STYLING ---*/
#player .html5-endscreen[style] {
  opacity: 0 !important; }

.ytp-ce-element.ytp-ce-element-show {
  opacity: 0 !important;
  transition: none !important;
  visibility: hidden !important; }

.ytp-endscreen-content {
  position: absolute;
  left: 50%;
  top: 50%;
  visibility: hidden !important; }

.ytp-ce-element.ytp-ce-element-show[style] {
  opacity: 0;
  transition: none;
  visibility: hidden !important; }

.ytp-videowall-still {
  cursor: pointer;
  visibility: hidden !important; }

/*--- LAYOUT ---*/
/*------------------- Menus-----------------------------*/
.main-navigation {
  clear: both;
  display: block;
  float: right;
  width: 100%;
  height: 3em;
  position: absolute;
  top: 7em; }

.main-navigation ul {
  list-style: none;
  padding-left: 0;
  text-align: center;
  margin: 0; }

.main-navigation li {
  position: relative;
  margin-right: .05em;
  font-size: 1em;
  display: inline-block;
  padding: .5em 2em;
  background: transparent;
  color: #000000;
  -webkit-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0; }

.main-navigation li:last-child {
  position: relative;
  margin-right: 0;
  font-size: 1em;
  margin-bottom: .25em;
  display: inline-block;
  padding: .5em 2em; }

.main-navigation li:hover {
  background: transparent; }

.main-navigation li:hover a {
  color: #001f30;
  text-decoration: underline; }

.main-navigation a {
  display: block;
  text-decoration: none;
  font-weight: normal;
  color: #000000;
  font-family: "Exo", Arial, Tahoma, Verdana;
  font-weight: 600;
  font-size: 1.1em; }

.main-navigation a:hover {
  color: #001f30; }

.main-navigation li.current-menu-item a {
  background: transparent; }

.main-navigation .current-menu-item {
  color: #001f30;
  background: transparent; }

.main-navigation ul ul {
  margin-left: 0;
  display: block;
  float: left;
  position: absolute;
  top: 2.30em;
  left: 1em;
  z-index: 99999;
  text-align: left;
  visibility: collapse;
  opacity: .001;
  transition: all .5s ease-in-out 0s;
  background: #ffffff;
  border-bottom: 1px solid #000000;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000; }

.main-navigation ul ul li {
  background: #ffffff;
  -webkit-border-radius: 0;
  border-radius: 0; }

.main-navigation ul ul li a:hover {
  text-decoration: underline; }

.main-navigation ul ul ul {
  left: 100%;
  top: 0; }

.main-navigation ul ul a {
  width: 250px; }

.main-navigation ul li:hover > ul {
  display: block;
  opacity: 1;
  visibility: visible;
  transition: all 0.25s ease 0s;
  width: 250px;
  overflow: hidden; }

.site-main .comment-navigation, .site-main .paging-navigation, .site-main .post-navigation {
  margin: 0 0 1.5em;
  overflow: hidden; }

.comment-navigation .nav-previous, .paging-navigation .nav-previous, .post-navigation .nav-previous {
  float: left;
  width: 50%; }

.comment-navigation .nav-next, .paging-navigation .nav-next, .post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%; }

/* ---  RESPONSIVE --- Small menu */
.menu-toggle {
  cursor: pointer;
  display: none; }

@media (max-width: 1200px) {
  .main-navigation ul {
    list-style: none;
    padding-left: 0;
    text-align: center;
    margin-top: .0; }

  .main-navigation a {
    font-size: 1.25em;
    color: #000000;
    background: transparent; }

  .main-navigation li {
    position: relative;
    margin-right: .05em;
    font-size: .75em;
    display: inline-block;
    padding: .5em .5em;
    background: transparent;
    color: #000000;
    -webkit-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0; }

  .main-navigation li:last-child {
    position: relative;
    margin-right: 0;
    font-size: .75em;
    margin-bottom: .25em;
    display: inline-block;
    padding: .5em .5em; } }
@media (max-width: 825px) {
  .main-navigation {
    margin-top: 0em; }

  .main-navigation ul {
    list-style: none;
    padding-left: 0;
    text-align: center;
    margin-top: 1em; }

  .main-navigation li, .main-navigation li:last-child {
    font-size: .7em; } }
@media screen and (max-width: 725px) {
  .menu-toggle, .main-navigation.toggled .nav-menu {
    display: block; }

  h1.menu-toggle {
    color: #d4321d;
    font-size: 1.25em;
    padding: 1em 0;
    padding-left: 1.5em;
    line-height: 1.5em;
    top: 0;
    font-weight: normal;
    font-family: "Exo", Arial, Tahoma, Verdana;
    background-repeat: no-repeat;
    background-position: 0 center;
    position: absolute;
    background-image: url(./images/logo-accent.png); }

  .toggled h1.menu-toggle {
    background-repeat: no-repeat;
    background-position: 0 center;
    position: absolute;
    background-image: url(./images/logo-accent-toggled.png); }

  .main-navigation {
    width: 100%;
    height: auto; }

  .main-navigation .current-menu-item {
    background: #ffffff; }

  .main-navigation li.current-menu-item a {
    background: #ffffff; }

  .main-navigation ul {
    display: none;
    margin-left: 0;
    background: #ffffff;
    margin-top: 0;
    border-left: solid 1px #000000;
    border-right: solid 1px #000000;
    border-bottom: solid 1px #000000; }

  .main-navigation li, .main-navigation li:last-child {
    float: none;
    width: 100%;
    text-align: left;
    background: transparent;
    -webkit-border-radius: 0;
    border-radius: 0;
    font-size: 1.25em; }

  .main-navigation a {
    display: block;
    text-decoration: none;
    font-weight: normal;
    color: #d4321d !important;
    background: #ffffff; }

  .main-navigation ul li:hover > ul, .main-navigation li:hover > ul a {
    visibility: visible;
    color: #000000;
    width: auto; }

  .main-navigation li, .main-navigation li:last-child {
    float: none;
    width: 100%;
    text-align: left;
    background: transparent;
    -webkit-border-radius: 0;
    border-radius: 0;
    font-size: .85em; }

  .main-navigation li:hover, .main-navigation li:last-child:hover, .main-navigation ul ul li:hover > a, .main-navigation ul ul li:last-child:hover > a {
    background: inherit;
    color: #000000; }

  .main-navigation ul ul li:hover, .main-navigation ul ul li:last-child:hover, .main-navigation li:hover > a, .main-navigation li:last-child:hover > a {
    background: inherit;
    color: #000000; }

  .main-navigation li a:hover, .main-navigation li:last-child a:hover {
    text-decoration: underline; }

  .menu-main-menu-container {
    background: #ffffff;
    position: absolute;
    top: 3.5em; }

  .main-navigation ul ul {
    margin-left: 0;
    display: block;
    float: left;
    position: relative;
    top: 0;
    left: 1em;
    z-index: 99999;
    text-align: left;
    visibility: visible;
    opacity: 1;
    -webkit-transition: all .5s ease-in-out 0s;
    transition: all .5s ease-in-out 0s;
    background: #ffffff;
    border: none;
    width: 80%; }

  .main-navigation ul ul li {
    background: #ffffff;
    border-radius: 0;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px; }

  .menu-main-container {
    top: 75px;
    left: 0;
    position: absolute;
    width: 80%; }

  .main-navigation ul ul a, .main-navigation ul ul a:hover {
    width: auto; } }
@media (max-width: 500px) {
  .main-navigation {
    top: 5em; }

  h1.menu-toggle {
    background-position: 0 .25em;
    top: 0;
    padding-top: 0; }

  .toggled h1.menu-toggle {
    background-repeat: no-repeat;
    background-position: 0 .25em;
    position: absolute;
    background-image: url(./images/logo-accent-toggled.png); } }
@media (max-width: 450px) {
  .menu-main-menu-container {
    top: 3.25em; }

  .main-navigation ul {
    border: none; }

  .menu-main-container {
    top: 3.25em; } }
/*--- PAGES ---*/
/*--- HOME PAGE ELEMENTS---*/
ul .front-four-features {
  float: left;
  padding: 0;
  margin: 0;
  list-style: none; }

.front-four-features li {
  float: left;
  padding: 0;
  width: 24%;
  margin: 0 1% 0 0;
  list-style: none; }

.four-background {
  position: relative;
  z-index: 9; }

.four-background img, .four-sections {
  width: 100%;
  height: auto;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border: solid 5px #cccccc;
  -webkit-box-shadow: 2px 0px 2px 2px #000000;
  -moz-box-shadow: 2px 0px 2px 2px #000000;
  box-shadow: 2px 0px 2px 2px #000000; }

.four-sections {
  min-height: 25em;
  padding-top: 1em;
  background-color: #000000;
  color: #ffffff; }

.four-sections a {
  color: #ffffff; }

.four-sections h2, .four-sections h4, .four-sections h4 a {
  text-align: center;
  background-color: #000000;
  color: #ffffff;
  text-decoration: none; }

.four-sections h2 {
  -webkit-border-radius: 7px 7px 0 0;
  border-radius: 7px 7px 0 0; }

.four-sections h4 {
  border-bottom: solid 2px #000000; }

.four-sections p {
  margin: 1em; }

.four-sections h1, .four-sections h2, .four-sections h3, .four-sections h4, .four-sections h5, .four-sections h6 {
  padding-left: 1em;
  padding-right: 1em; }

.four-sections h4:hover {
  text-decoration: underline; }

.four-background img:hover {
  filter: brightness(125%) contrast(125%);
  -webkit-filter: brightness(125%) contrast(125%); }

.four-title {
  position: absolute;
  z-index: 999;
  top: 5%; }

.four-title img {
  width: 80%;
  height: auto;
  margin: 0 20%;
  border: none 0px transparent;
  -webkit-box-shadow: 0px 0px 0px 0px transparent;
  -moz-box-shadow: 0px 0px 0px 0px transparent;
  box-shadow: 0px 0px 0px 0px transparent; }

/*--- GRID BASED STYLES ---*/
@supports (display: grid) {
  /*-- VESTIGAL STYLES FROM FIRST CONCEPT ITERATION ---*/
  ul.two-focus-items {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(2, 1fr);
    color: #444;
    margin: 2.5em auto;
    max-width: 1400px; }

  ul.two-focus-items > li {
    margin: 0 1em;
    width: auto;
    text-align: center;
    font-size: 1.05em;
    list-style: none; }

  ul.three-focus-items {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(3, 1fr);
    color: #444;
    margin: 2.5em auto;
    max-width: 1400px; }

  ul.three-focus-items > li {
    margin: 0 1em;
    width: auto;
    text-align: center;
    font-size: 1.05em; }

  ul.four-focus-items {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(4, 1fr);
    color: #444;
    margin: 2.5em auto;
    max-width: 1400px; }

  ul.four-focus-items > li {
    margin: 0 1em;
    width: auto;
    text-align: center;
    font-size: 1.05em;
    list-style: none; }

  ul.just-archive-array {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(4, 1fr);
    color: #444;
    margin: 2.5em auto;
    max-width: 1400px; }

  ul.just-archive-array > li {
    margin: 0;
    width: auto;
    text-align: center;
    font-size: 1.05em; }

  ul.just-archive-array > li .entry-content {
    margin: 0 !important;
    padding-right: 0; }

  ul.four-focus-items > li img, ul.just-archive-array > li .entry-content img {
    -webkit-border-radius: 25px;
    border-radius: 25px;
    -webkit-box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.25); }

  ul.four-focus-items > li:hover img, ul.just-archive-array > li .entry-content:hover img {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0);
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0); }

  .single-post ul.just-archive-array > li {
    border: solid 1px #000000; }

  /*--- THE LIVE STYLES ---*/
  .filmclip-array {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(3, 1fr);
    color: #444;
    margin: 1em auto;
    max-width: 1400px; }

  .filmclip-array > li {
    margin: 0 1em;
    width: auto;
    text-align: left;
    font-size: 1em;
    list-style: none; }

  .filmclip-array > li img {
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: solid 5px #cccccc;
    -webkit-box-shadow: 2px 0px 2px 2px #000000;
    -moz-box-shadow: 2px 0px 2px 2px #000000;
    box-shadow: 2px 0px 2px 2px #000000; }

  ul.film-array-list {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(5, 1fr);
    color: #444;
    margin: .25em auto;
    max-width: 1400px; }

  ul.film-array-list > li {
    margin: 0 .25em;
    width: auto;
    text-align: left;
    font-size: 1em;
    list-style: none;
    text-align: center; }

  ul.film-array-list > li img {
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: solid 5px #cccccc;
    -webkit-box-shadow: 2px 0px 2px 2px #000000;
    -moz-box-shadow: 2px 0px 2px 2px #000000;
    box-shadow: 2px 0px 2px 2px #000000; }

  ul.film-array-list > li img:hover {
    filter: brightness(125%) contrast(125%);
    -webkit-filter: brightness(125%) contrast(125%); }

  ul.front-four-features {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1400px; }

  .front-four-features li {
    width: 100%; }

  @media screen and (max-width: 1200px) {
    ul.film-array-list {
      display: grid;
      grid-gap: 1em;
      grid-template-columns: repeat(4, 1fr);
      color: #444;
      margin: 0 .25em auto;
      max-width: 1200px; } }
  @media screen and (max-width: 900px) {
    ul.front-four-features {
      display: grid;
      grid-gap: 1em;
      grid-template-columns: repeat(2, 1fr);
      max-width: 900px; }

    ul.film-array-list {
      display: grid;
      grid-gap: 1em;
      grid-template-columns: repeat(3, 1fr);
      color: #444;
      margin: 0 .25em auto;
      max-width: 900px; }

    ul.three-focus-items {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: repeat(1, 1fr);
      color: #444;
      margin: 50px; }

    ul.just-archive-array {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: repeat(2, 1fr);
      color: #444;
      margin: 50px; }

    .filmclip-array {
      display: grid;
      grid-gap: 1em;
      grid-template-columns: repeat(2, 1fr);
      color: #444;
      margin: 0 .25em auto;
      max-width: 900px; } }
  @media screen and (max-width: 600px) {
    ul.front-four-features {
      display: grid;
      grid-gap: 1em;
      grid-template-columns: repeat(1, 1fr);
      max-width: 600px; }

    ul.film-array-list {
      display: grid;
      grid-gap: 1em;
      grid-template-columns: repeat(2, 1fr);
      color: #444;
      margin: 0 .25em auto;
      max-width: 600px; }

    .filmclip-array {
      display: grid;
      grid-gap: 1em;
      grid-template-columns: repeat(1, 1fr);
      color: #444;
      margin: 0 .25em auto;
      max-width: 600px; } } }
/*---------- CUSTOMIZATIONS---------------*/
.clear {
  clear: both; }

/*-- for post navigation--*/
.left-split-nav {
  float: left;
  width: 48%;
  text-align: left; }

.right-split-nav {
  float: right;
  width: 48%;
  text-align: right; }

/*--- for the film clip array ---*/
.first-third {
  float: left;
  width: 32%; }

.first-third li {
  font-family: "Exo", Arial, Tahoma, Verdana; }

.first-third-video {
  float: left;
  width: 100%;
  position: relative; }

.first-third img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border: solid 5px #cccccc;
  -webkit-box-shadow: 2px 0px 2px 2px #000000;
  -moz-box-shadow: 2px 0px 2px 2px #000000;
  box-shadow: 2px 0px 2px 2px #000000; }

.first-third-video .btn {
  position: absolute;
  top: calc(50% - 1em);
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #666666;
  color: #ffffff;
  font-size: 1.25em;
  padding: 1.25em;
  border: none;
  cursor: pointer;
  border-radius: 1em; }

.first-third-video .btn:hover {
  background-color: #000000; }

.two-thirds {
  float: right;
  width: 66%; }

@media screen and (max-width: 800px) {
  .first-third, .two-thirds {
    float: left;
    width: 100%; }

  .first-third img {
    width: 80%;
    height: auto;
    margin: 0 10% 1em 10%; } }
/*--- HERO-TOP (vestigal) ----*/
#hero-top {
  width: 100%;
  clear: both;
  padding-top: 110px;
  margin-bottom: -6px; }

#hero-top img {
  width: 100%;
  height: auto; }

/*--- more over rides--*/
ul.just-archive-array {
  list-style: none;
  margin: 0; }

.just-archive-array p {
  margin: 0; }

.just-archive-array h1 {
  margin: 0; }

.page-template-page-books a {
  text-decoration: none; }

@media (max-width: 1300px) {
  body {
    overflow-x: hidden; } }
@media (max-width: 1200px) {
  html {
    overflow-x: hidden; }

  #page {
    width: 96%;
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    margin-top: .25em;
    margin-bottom: 1em; } }
@media (max-width: 900px) {
  .page-template-landing-page .content-area {
    float: left;
    margin: 1em;
    width: 100%; }

  .page-template-landing-page .site-main {
    margin: 1em; }

  .page-template-landing-page #secondary {
    width: 100%; }

  .page-template-landing-page .entry-content {
    border-right: none 0px transparent;
    padding-right: 0; }

  .page-template-feed-page .site-main {
    margin: 0; }

  .page-template-feed-page #secondary {
    width: 100%; } }
@media (max-width: 825px) {
  .question-site-main {
    float: left;
    width: 100%; }

  #hero-top {
    padding-top: 150px; }

  .landing-third-1, .landing-third-2, .landing-third-3 {
    float: left;
    width: 100%;
    margin: 2em 0 0 0; }

  .landing-third-3 .widget {
    margin: 0; } }
@media (max-width: 500px) {
  .page-template-landing-page #secondary .left_picture {
    float: left;
    width: 100%; }

  .page-template-landing-page #secondary .right_text {
    float: left;
    width: 100%; } }
@media (max-width: 450px) {
  .site-info {
    border-top: 2px solid #ffffff;
    text-align: center; }

  .feature-icon img {
    width: 90%;
    margin: 0 5%; }

  #hero-top {
    padding-top: 110px; } }

/*# sourceMappingURL=style.css.map */
