/*--- HOME PAGE ELEMENTS---*/
ul .front-four-features{float:left; padding:0; margin:0; list-style:none;}
.front-four-features li {float:left; padding:0; width:24%; margin:0 1% 0 0; list-style:none;}
.four-background{position:relative; z-index:9}
.four-background img, .four-sections{width:100%;height:auto;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;border:solid 5px $greyColor;
-webkit-box-shadow:2px 0px 2px 2px #000000 ;-moz-box-shadow:2px 0px 2px 2px #000000 ;box-shadow:2px 0px 2px 2px #000000 ;}
.four-sections{min-height:25em;padding-top:1em; background-color:$blackColor; color:$whiteColor;}
.four-sections a{color:$whiteColor;}
.four-sections h2,.four-sections h4, .four-sections h4 a{text-align:center; background-color:$blackColor; color:$whiteColor;text-decoration:none;}
.four-sections h2{-webkit-border-radius: 7px 7px 0 0;border-radius: 7px 7px 0 0;}
.four-sections h4{border-bottom:solid 2px $blackColor;}
.four-sections p{margin:1em;}
.four-sections h1,.four-sections h2,.four-sections h3,.four-sections h4,.four-sections h5,.four-sections h6{padding-left:1em; padding-right:1em;}
.four-sections h4:hover{text-decoration:underline;}
.four-background img:hover{filter: brightness(125%) contrast(125%);-webkit-filter: brightness(125%) contrast(125%);}
.four-title{position:absolute; z-index:999;top:5%; }	
.four-title img{width:80%; height:auto; margin:0 20%;border:none 0px transparent;-webkit-box-shadow:0px 0px 0px 0px transparent ;
-moz-box-shadow:0px 0px 0px 0px transparent ;box-shadow:0px 0px 0px 0px transparent ;}
/*--- GRID BASED STYLES ---*/
		@supports (display: grid) {
		/*-- VESTIGAL STYLES FROM FIRST CONCEPT ITERATION ---*/	
		ul.two-focus-items {display: grid;grid-gap: 1em;  grid-template-columns: repeat(2, 1fr); color: #444;margin:2.5em auto; max-width:1400px; }
		ul.two-focus-items > li {margin: 0 1em; width: auto;text-align: center;font-size: 1.05em; list-style:none;}
		ul.three-focus-items {display: grid;grid-gap: 1em;  grid-template-columns: repeat(3, 1fr); color: #444;margin:2.5em auto; max-width:1400px; }
		ul.three-focus-items > li {margin: 0 1em; width: auto;text-align: center;font-size: 1.05em;}
		ul.four-focus-items {display: grid;grid-gap: 1em;  grid-template-columns: repeat(4, 1fr); color: #444;margin:2.5em auto; max-width:1400px; }
		ul.four-focus-items > li {margin: 0 1em; width: auto;text-align: center;font-size: 1.05em; list-style:none;}
		ul.just-archive-array {display: grid;grid-gap: 1em;  grid-template-columns: repeat(4, 1fr); color: #444;margin:2.5em auto; max-width:1400px; }
		ul.just-archive-array > li {margin: 0; width: auto;text-align: center;font-size: 1.05em;}
		ul.just-archive-array > li .entry-content { margin: 0 !important; padding-right: 0;}
		ul.four-focus-items > li img, ul.just-archive-array > li .entry-content img{-webkit-border-radius: 25px;border-radius: 25px;-webkit-box-shadow: 5px 5px 5px 5px rgba(0,0,0,.25);box-shadow: 5px 5px 5px 5px rgba(0,0,0,.25);	}
		ul.four-focus-items > li:hover img, ul.just-archive-array > li .entry-content:hover img{-webkit-border-radius: 0px;border-radius: 0px;-webkit-box-shadow: 5px 5px 5px 5px rgba(0,0,0,0);box-shadow: 5px 5px 5px 5px rgba(0,0,0,0);	}
		.single-post ul.just-archive-array > li{border:solid 1px $blackColor;}
		/*--- THE LIVE STYLES ---*/
			.filmclip-array{display: grid;grid-gap: 1em;  grid-template-columns: repeat(3, 1fr); color: #444;margin:1em auto; max-width:1400px; }
			.filmclip-array > li {margin: 0 1em; width: auto;text-align: left;font-size: 1em; list-style:none;}
			.filmclip-array > li img{border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;border:solid 5px $greyColor;
			-webkit-box-shadow:2px 0px 2px 2px #000000 ;-moz-box-shadow:2px 0px 2px 2px #000000 ;box-shadow:2px 0px 2px 2px #000000 ;}
			ul.film-array-list{display: grid;grid-gap: 1em;  grid-template-columns: repeat(5, 1fr); color: #444;margin:.25em auto; max-width:1400px; }
			ul.film-array-list >li{margin: 0 .25em; width: auto;text-align: left;font-size: 1em; list-style:none;text-align:center;}
			ul.film-array-list >li img{border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;border:solid 5px $greyColor;
			-webkit-box-shadow:2px 0px 2px 2px #000000 ;-moz-box-shadow:2px 0px 2px 2px #000000 ;box-shadow:2px 0px 2px 2px #000000 ;}
			ul.film-array-list >li img:hover{filter: brightness(125%) contrast(125%);-webkit-filter: brightness(125%) contrast(125%);}
			ul.front-four-features{display: grid;grid-gap: 1em;  grid-template-columns: repeat(4, 1fr);  max-width:1400px; }
			.front-four-features li{width:100%;}
			@media screen and (max-width: 1200px) {
			ul.film-array-list{display: grid;grid-gap: 1em;  grid-template-columns: repeat(4, 1fr); color: #444;margin:0 .25em auto; max-width:1200px; }		
			}	
			@media screen and (max-width: 900px) {
			ul.front-four-features{display: grid;grid-gap: 1em;  grid-template-columns: repeat(2, 1fr);  max-width:900px; }	
			ul.film-array-list{display: grid;grid-gap: 1em;  grid-template-columns: repeat(3, 1fr); color: #444;margin:0 .25em auto; max-width:900px; }
			ul.three-focus-items{display: grid;grid-gap: 10px;  grid-template-columns: repeat(1, 1fr); color: #444;margin:50px; }
			ul.just-archive-array{display: grid;grid-gap: 10px;  grid-template-columns: repeat(2, 1fr); color: #444;margin:50px; }
			.filmclip-array{display: grid;grid-gap: 1em;  grid-template-columns: repeat(2, 1fr); color: #444;margin:0 .25em auto; max-width:900px; }
			}
			@media screen and (max-width: 600px) {
			ul.front-four-features{display: grid;grid-gap: 1em;  grid-template-columns: repeat(1, 1fr);  max-width:600px; }	
			ul.film-array-list{display: grid;grid-gap: 1em;  grid-template-columns: repeat(2, 1fr); color: #444;margin:0 .25em auto; max-width:600px; }
			.filmclip-array{display: grid;grid-gap: 1em;  grid-template-columns: repeat(1, 1fr); color: #444;margin:0 .25em auto; max-width:600px; }
			}	
		}
