/*------------------- Menus-----------------------------*/
.main-navigation{clear:both;display:block;float:right;width:100%;height:3em;position:absolute; top:7em;}
.main-navigation ul{ list-style:none;padding-left:0;text-align:center;margin:0; }
.main-navigation li{ position:relative;margin-right:.05em;font-size:1em;display:inline-block;padding:.5em 2em;background:transparent;color:$blackColor;
	-webkit-border-radius:10px 10px 0 0;border-radius:10px 10px 0 0;}
.main-navigation li:last-child{position:relative;margin-right:0;font-size:1em;margin-bottom:.25em;display:inline-block;padding:.5em 2em}
.main-navigation li:hover{ background:transparent;}
.main-navigation li:hover a{color:$darkBlueColor; text-decoration:underline;}
.main-navigation a{ display:block;text-decoration:none;font-weight:normal;color:$blackColor;font-family:$titleFont;font-weight:600;font-size:1.1em;}
.main-navigation a:hover{ color:$darkBlueColor;}
.main-navigation li.current-menu-item a{ background:transparent}
.main-navigation .current-menu-item{ color:$darkBlueColor;  background:transparent}
.main-navigation ul ul{margin-left:0;display:block;float:left;position:absolute;top:2.30em;  left:1em;z-index:99999;text-align:left;visibility:collapse;
	opacity:.001;transition:all .5s ease-in-out 0s;  background:$whiteColor;border-bottom:1px solid $blackColor;border-left:1px solid $blackColor;
	border-right:1px solid $blackColor;}
.main-navigation ul ul li{background:$whiteColor;-webkit-border-radius:0;border-radius:0;}
.main-navigation ul ul li a:hover{text-decoration:underline}
.main-navigation ul ul ul{ left:100%;top:0;}
.main-navigation ul ul a{ width:250px}
.main-navigation ul li:hover >ul{ display:block;opacity:1;visibility:visible;transition:all 0.25s ease 0s;width:250px;overflow:hidden}
.site-main .comment-navigation, .site-main .paging-navigation, .site-main .post-navigation{ margin:0 0 1.5em;overflow:hidden}
.comment-navigation .nav-previous, .paging-navigation .nav-previous, .post-navigation .nav-previous{float:left;width:50%}
.comment-navigation .nav-next, .paging-navigation .nav-next, .post-navigation .nav-next{ float:right;text-align:right;width:50%}

/* ---  RESPONSIVE --- Small menu */
.menu-toggle{cursor:pointer;display:none;}

@media (max-width:1200px){ 
.main-navigation ul{list-style:none;padding-left:0;text-align:center;margin-top:.0;}
.main-navigation a{font-size:1.25em;color:$blackColor;background:transparent}
.main-navigation li{position:relative;margin-right:.05em;font-size:.75em;display:inline-block;padding:.5em .5em;background:transparent;color:$blackColor;
	-webkit-border-radius:10px 10px 0 0; border-radius:10px 10px 0 0}
.main-navigation li:last-child{position:relative;margin-right:0;font-size:.75em;margin-bottom:.25em;display:inline-block;padding:.5em .5em;}
}

@media (max-width:825px){  
.main-navigation{margin-top:0em;}
.main-navigation ul{list-style:none;padding-left:0;text-align:center;margin-top:1em;}
.main-navigation li, .main-navigation li:last-child{    font-size:.7em}
}

@media screen and (max-width:725px){  
.menu-toggle,.main-navigation.toggled .nav-menu{display:block;}
h1.menu-toggle{color:$redColor;font-size:1.25em;padding:1em 0;padding-left:1.5em;line-height:1.5em; top:0; font-weight:normal;font-family:$titleFont;
	background-repeat:no-repeat;background-position:0 center;position:absolute;background-image:url(./images/logo-accent.png);}
.toggled h1.menu-toggle	{background-repeat:no-repeat;background-position:0 center;position:absolute;background-image:url(./images/logo-accent-toggled.png);}
.main-navigation {width: 100%; height:auto;}
.main-navigation .current-menu-item{background:$whiteColor;}
.main-navigation li.current-menu-item a{background:$whiteColor;}
.main-navigation ul{display:none; margin-left:0;background:$whiteColor; margin-top:0;border-left:solid 1px $blackColor;border-right:solid 1px $blackColor;
	border-bottom:solid 1px $blackColor;}
.main-navigation li, .main-navigation li:last-child{float:none;width:100%;text-align:left;background:transparent;-webkit-border-radius:0;border-radius:0;
	font-size:1.25em;}
.main-navigation a{display:block;text-decoration:none;font-weight:normal;color:$redColor!important;background:$whiteColor;}
.main-navigation ul li:hover >ul, .main-navigation li:hover >ul a{visibility:visible; color:$blackColor;width: auto;}
.main-navigation li, .main-navigation li:last-child{float:none;width:100%;text-align:left;background:transparent;-webkit-border-radius:0;border-radius:0;
	font-size:.85em;}
.main-navigation li:hover, .main-navigation li:last-child:hover, .main-navigation ul ul li:hover >a, .main-navigation ul ul li:last-child:hover >a
{background:inherit;color:$blackColor;}
.main-navigation ul ul li:hover, .main-navigation ul ul li:last-child:hover, .main-navigation li:hover >a, .main-navigation li:last-child:hover >a
{background:inherit;color:$blackColor;}
.main-navigation li a:hover, .main-navigation li:last-child a:hover{text-decoration:underline;}
.menu-main-menu-container{background:$whiteColor;position:absolute;top:3.5em;}
.main-navigation ul ul {margin-left: 0;display: block;float: left;position: relative;top: 0;left: 1em;z-index: 99999;text-align: left;visibility: visible;
	opacity: 1;-webkit-transition: all .5s ease-in-out 0s;transition: all .5s ease-in-out 0s;background: $whiteColor;border:none; width:80%;}
.main-navigation ul ul li {background: $whiteColor;border-radius: 0;border-top-left-radius: 0px;border-top-right-radius: 0px;border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;}
.menu-main-container {top: 75px; left:0;position: absolute;width:80%;}
.main-navigation ul ul a,.main-navigation ul ul a:hover  {width: auto;}
}

@media (max-width:500px){ 
.main-navigation{top:5em;}	
h1.menu-toggle {background-position: 0 .25em;top: 0;padding-top:0;}
.toggled h1.menu-toggle	{background-repeat:no-repeat;background-position:0 .25em;position:absolute;background-image:url(./images/logo-accent-toggled.png);}
}

@media (max-width:450px){
.menu-main-menu-container {top: 3.25em;}	
.main-navigation ul {border:none;}
.menu-main-container {top: 3.25em;}
}