/*-----------Forms----------------------*/
button, input, select, textarea{ font-size:100%;  /* Corrects font size not being inherited in all browsers */ margin:0;  /* Addresses margins set differently in IE6/7,F3/4,S5,Chrome */ vertical-align:baseline;  /* Improves appearance and consistency in all browsers */ *vertical-align:middle;  /* Improves appearance and consistency in IE6/IE7 */}
button, input[type="button"], input[type="reset"], input[type="submit"]{ border:1px solid $whiteColor;  border-radius:3px;  background:$blueColor;  cursor:pointer;  /* Improves usability and consistency of cursor style between image-type 'input' and others */ -webkit-appearance:button;  /* Corrects inability to style clickable 'input' types in iOS */ font-size:12px;  font-size:1.2em;  line-height:1;  padding:.6em 1em .4em;  text-shadow:0 1px 0 rgba(255,255,255,0.8);  color:$whiteColor;  margin-top:.5em}
button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover{ border-color:$greyColor $greyColor $greyColor $greyColor;  background:$whiteColor;  color:$darkBrownColor}
button:focus, input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus, button:active, input[type="button"]:active, input[type="reset"]:active, 
input[type="submit"]:active{ border-color:$greyColor $greyColor $greyColor $greyColor;  box-shadow:inset 0 -1px 0 rgba(255,255,255,0.5),inset 0 2px 5px rgba(0,0,0,0.15)}
input[type="checkbox"], input[type="radio"]{ padding:0;  /* Addresses excess padding in IE8/9 */}
input[type="search"]{ -webkit-appearance:textfield;  /* Addresses appearance set to searchfield in S5,Chrome */ -webkit-box-sizing:content-box;  /* Addresses box sizing set to border-box in S5,Chrome (include -moz to future-proof) */ -moz-box-sizing:content-box;  box-sizing:content-box;  font-size:1.5em}
input[type="search"]::-webkit-search-decoration{ /* Corrects inner padding displayed oddly in S5,Chrome on OSX */ -webkit-appearance:none}
button::-moz-focus-inner, input::-moz-focus-inner{ /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */ border:0;  padding:0}
input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], textarea{ color:#666;  border:1px solid $darkBrownColor;  border-radius:3px}
input[type="text"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="password"]:focus, input[type="search"]:focus, textarea:focus{ color:#111}
input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"]{ padding:3px}
textarea{ overflow:auto;  /* Removes default vertical scrollbar in IE6/7/8/9 */ padding-left:3px;  vertical-align:top;  /* Improves readability and alignment in all browsers */ width:98%}
