/*--- YOU TUBE RELATED STYLING ---*/
#player .html5-endscreen[style] { opacity:0!important; }

.ytp-ce-element.ytp-ce-element-show { opacity: 0!important; transition: none!important; visibility: hidden!important; }

.ytp-endscreen-content { position: absolute; left: 50%; top: 50%; visibility: hidden!important; }

.ytp-ce-element.ytp-ce-element-show[style] { opacity: 0; transition: none; visibility: hidden!important; }

.ytp-videowall-still { cursor: pointer; visibility: hidden!important; }