$blueColor:#002046;
$blackColor: #000000;
$whiteColor:#ffffff;
$greyColor:#cccccc;
$darkGreyColor:#666666;
$lightBlueColor:#00649c;
$darkBlueColor:#001f30;
$darkBrownColor:#322215;
$goldColor:#ab8316;
$redColor:#d4321d;

$defaultFont:'Roboto',Arial,Tahoma,Verdana;
$titleFont: 'Exo',Arial,Tahoma,Verdana;
$nerdFont:"Courier 10 Pitch",Courier,monospace;
$serifFont:'Cinzel', Georgia,Times,Times New Roman,serif;